
	* {
		box-sizing: border-box;
	}

	body {
		font-family: 'Varela Round', sans-serif;
	
		
		line-height: 1.6;
		color: #3a3a3a;
		margin: 0 auto;
	}
	a {
		text-decoration: none;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	  }
	  h2,
	  h3,
	  a {
		  color: #0874b8;
	  }



	img {
		max-width: 80%;
	}
	/*=================     */

	.main-header,
	.main-nav {
		display: flex;
	}

	.name a{
		font-size: 1em;
		margin: 0;
	}

	.name a,
	.main-nav a {
		display: block;
		text-align: center ;
		padding: 0px 15px;
	}
	.main-nav{
		
		margin-right: 10%;
		margin-top: 30px;
	}

	.main-nav a, 
	.menu a 
	{
		font-size: 1.2em;
		color: rgb(194, 4, 4);	

	}
	.main-nav a:hover,
	.menu a:hover
	 {
		color: #3788bb;
	}

	.main-header {
		justify-content: space-between;
		padding-bottom: .5em;
	}
	

	.main-nav a {display: none;}


	.main-nav a.close{
		display: none;}



	.main-nav a.icon {
	  
	  display: block;
	}

	.menu{
		z-index: 2;
		display: block;
		position:fixed;
		top: 0;
		right: 0;
		margin: 0%;
		padding: 0%;
		width: 20%;
		height: 100%;
		background-color: white;
	  }
	.menu li{
		padding: 5px;	
	  }
	.menu .close{
		
		position: absolute;
		
		right: 5%;
	
	
	  }
	

	
	.banner {
		color: #fff;
		background: rgb(5, 5, 95);
		padding: 3.2em 0;
		margin-bottom: 48px;
		text-align: center;
	}



	.second-title{
		color: #0874b8;
		text-align: center;
	}




	.col{
	
		padding-right: 1em;
		padding-left: 1em;
	}


	.main-footer {
		background: #d9e4ea;
		text-align: center;
		padding: 0.5em 0;
		margin-top: 30px;
	}

	.show {
		display: 'block';
		background-color: #3498DB;
		color: white;
		text-align: center;
		padding: 16px;
		margin: 2rem;
		font-size: 16px;
		
	  }



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 500px) {

	.row1,
	.row2{
		display: flex;
		flex-direction: row;

	}
	.col{
		flex: 1;
	}

}



@media (min-width: 800px) {

	.main-nav a{
		display: flex;
	}
	.main-nav a.icon {
	  
	  display: none;
	}


	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}

@media (min-width: 1200px) {

	.row1, 
	.row2 {
		width: 1200px;
		margin:0 auto;
	}

}
/* ================================= 
  hidden content
==================================== */

.below{
	display: none;
}
